@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

html,
body {
    font-family: 'roboto', sans-serif;
    height: 100%;
}

body {
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    flex-direction: column;
    background-color: #1d1d1d;
    color: goldenrod;
    font-size: 1.2rem;  
    align-items: center;  
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    max-width: 100%;
}

a {
    font-size: 1.5rem;
    color: rgba(0, 255, 191, 0.75);
}

.navigation-items{
    display: flex;
    list-style-type: none;
    align-items: center;
    
}

.navigation-item {
    margin: 0.5rem;
}

section {
    padding: 1rem;
}

.about-me-title {
    text-align: center;
}

.about-me-article {
    font-size: 1.5rem;
    text-align: left;
}

details {
    cursor: pointer;
}

.project-title h3 {
    display: inline;
}

#skills {
    padding: 1rem;
}

#skills-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
#skills-icons > * {
    font-size: 2em;
    width: 2em;
    margin-top: 0.5rem;
}
  