@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'roboto', sans-serif;
    height: 100%;
}

body {
    display: flex;
    max-width: 56.25rem;
    margin: 0 auto;
    flex-direction: column;
    background-color: #1d1d1d;
    color: goldenrod;
}

nav {
    display: flex;
    align-items: center;
    padding: 1rem;
}

a {
    color: rgb(3, 190, 159);
}

.name {
    margin: 0;
}

.navigation-items{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: auto;
}

.navigation-item {
    margin: 0.5rem;
}

section {
    padding: 1rem;
}

.about-me-article {
    margin-right: 1rem;
}

.projects-article {
    margin-right: 1rem;
}

details {
    cursor: pointer;
}

.project-title h3 {
    display: inline;
}

#skills {
    padding: 1rem;
}

#skills-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
#skills-icons > * {
    font-size: 2em;
    width: 2em;
    margin-top: 0.5rem;
}
  